apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rollingupdate
  namespace: argocd
spec:
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
      allowEmpty: true
  project: default
  source:
    repoURL: git@github.com:sharathkumar0498/ArgoCd-k8sb21.git
    targetRevision: HEAD
    path: deploy
  destination:
    server: https://kubernetes.default.svc
    namespace: default

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: votingapp
  namespace: argocd
spec:
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
      allowEmpty: true
  project: default
  source:
    repoURL: git@github.com:sharathkumar0498/ArgoCd-k8sb21.git
    targetRevision: HEAD
    path: votingapp
  destination:
    server: https://kubernetes.default.svc
    namespace: votingapp
---
#
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ArgoApps
  namespace: argocd
spec:
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
      allowEmpty: true
  project: default
  source:
    repoURL: git@github.com:sharathkumar0498/ArgoCd-k8sb21.git
    targetRevision: HEAD
    path: ArgoApps
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx

#The above manifest can be deployed using echo '' | ku apply -f -
